<form class="navbar-form pull-left" action="/bet" method="post">
  <p> <%= session[:name] %> you have <%= session[:dollars] %> dollars</p>
  bet : <input type="text" class="span2" name="bet">
  <button type="submit" class="btn">Submit</button>
</form>