<div class="alert alert-block">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4>Warning!</h4>
  Best check yo self, you're not...
</div>



<div class="well">

      <img src="/images/cards/clubs_10.jpg" alt="">
      <img src="/images/cards/clubs_9.jpg" alt="">
      <img src="/images/cards/clubs_8.jpg" alt="">
</div>